
.navbar {
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(3, 3, 3);
    letter-spacing: 1px;
    margin-right: 1rem;
  }

  .navbar-toggler {
    border: none;
    background-color: transparent;

    &:focus {
      box-shadow: none;
    }
  }
  .navbar-nav {
    justify-content: center;
    align-items: flex-end;
    margin-left: auto;
    .nav-item {
      margin-right: 1rem;
      margin-left: 1rem;
      width: 100%;
      border-radius: 15px;
      &:hover {
        background-color: rgb(168, 168, 168, 0.4);
      }

      .nav-link {
        height: 100%;
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 1rem;
        color: rgb(92, 92, 92);

        .user-pic {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 50%;
        }
      }
    }

  }
  
}
